/* Global Styles */

body, html {
    height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: #EEE;
}
* {
    box-sizing: border-box;
}

/* Highlight Styles */
::selection {
	background: #6bb2d9;
	color: white;
}
::-moz-selection {
	background: #6bb2d9;
	color: white;
}

/* Navigation */
nav {
    width: 28%;
    height: 98%;
    background-color: white;
    position: fixed;
    right: 5px;
    top: 10px;
    margin: 0px;
    padding: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav li {
    list-style-type: none;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    background-color: white;
    padding: 6% 0;
    width: 98%;
    margin: auto;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}
nav li:hover {
    background-color: rgb(178, 224, 239);
    padding: 8% 0;
}
nav li.active-page {
    background-color: #EEE;
    padding: 8% 0;
}
nav li a:link {
    text-decoration: none;
    color: black;
}
nav li a:link:hover {
    font-weight: bold;
}
nav li a:active {
    color: gray;
}
nav hr {
    margin: 0;
}

/* Content box */
section.content, .bottom-nav {
    width: 70%;
    background-color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 6px;
}
/* Content styles */
section.content h1.page_title {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}
section.content h2.page_subtitle {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 30px;
    text-align: center;
    color: #09C;
    
}
section.content h2 {
    margin-top: 50px;
}
section.content p.task {
 
    background-color: #EEE;
    color: gray;
    padding: 20px;
    font-style: italic;
    border-radius: 10px;
}
section.content hr {
    margin: 60px 0;
}
section.content ul {
    list-style-type: ">  ";
}
section.content a:link, section.content a:visited {
    color: #09C;
}
section.content a:active {
    color: rgb(178, 224, 239);
}
/* Table styles */
section.content table {
    font-size: 14px;
}
section.content th {
    background-color: #EEE;
}
section.content th, section.content td {
    padding: 10px;
}

/* Bottom navigation buttons */
.bottom-nav {
    padding-bottom: 60px;
    margin-bottom: -14px;
}
.bottom-nav a {
    font-size: 20px;
    max-width: 50%;
    transition: all 0.1s ease-in-out;
    font-weight: bold;
}
.bottom-nav a:link, .bottom-nav a:visited {
    color: #09C;
    text-decoration: none;
}
.bottom-nav a:hover {
    transform: scale(1.05);
}
.bottom-nav a#previous-week {
    float: left;
    margin-left: 10vw;
}
.bottom-nav a#next-week {
    float: right;
    margin-right: 10vw;
}

/* Back to top button */
#back2top {
    display: inline-block;
    background-color: #09C;
    background-image: url("../images/scroll_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 25px;
    right: 30.35%;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  #back2top:hover {
    cursor: pointer;
    background-color: #6bb2d9;
  }
  #back2top:active {
    background-color: lightgray;
  }
  #back2top.show {
    opacity: 1;
    visibility: visible;
  }