/* Global Styles */

body, html {
    height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: #EEE;
}
* {
    box-sizing: border-box;
}


/* Navigation */
nav {
    width: 28%;
    height: 98%;
    background-color: white;
    position: fixed;
    right: 5px;
    top: 10px;
    margin: 0px;
    padding: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav li {
    list-style-type: none;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    background-color: white;
    padding: 6% 0;
    width: 98%;
    margin: auto;
    transition: all 0.1s ease-in-out;
}
nav li:hover {
    background-color: antiquewhite;
    padding: 8% 0;
}
nav li a:link {
    text-decoration: none;
    color: black;
}
nav li a:link:hover {
    font-weight: bold;
}
nav li a:active {
    color: gray;
}
nav hr {
    margin: 0;
}

/* Content box */
section.content {
    width: 70%;
    background-color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 6px;
}
section.content h1.page_title {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}
section.content h2.page_subtitle {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 30px;
    text-align: center;
    
}


/* Back to top button */
#back2top {
    display: inline-block;
    background-color: #09C;
    background-image: url("../images/scroll_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  #back2top:hover {
    cursor: pointer;
    background-color: #6bb2d9;
  }
  #back2top:active {
    background-color: lightgray;
  }
  #back2top.show {
    opacity: 1;
    visibility: visible;
  }